* {
    font-family: Helvetica, sans-serif;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* Green Palette */
    /* --color-primary: #E6FAE6; */
    /* --color-primary-dark: #B3E6B3; */
    /* --color-primary-light: #F2FCF2; */

    /* Blue Palette */
    /* --color-primary: #E6E6FA; */
    /* --color-primary-dark: #B3B3E6; */
    /* --color-primary-light: #F2F2FC; */

    /* Red Palette */
    /* --color-primary: #FAE6E6;
    --color-primary-dark: #E6B3B3;
    --color-primary-light: #FCF2F2; */

    /* Mint Palette */
    /* --color-primary: #E6FAF2;
    --color-primary-dark: #B3E6D9;
    --color-primary-light: #F2FCF9; */

    /* Pink Palette */
    --color-primary: #FFBFC5;
    --color-primary-dark: #E6B3B3;
    --color-primary-light: #FFF3F3;



    /* --color-primary: #E6E6FA; */

    --color-secondary: #FAE6E6;
    --color-accent: #E6FAE6;

    /* Light Tints */
    /* --color-primary-light: #F2F2FC; */
    --color-secondary-light: #FCF2F2;
    --color-accent-light: #F2FCF2;

    /* Dark Tints */
    /* --color-primary-dark: #B3B3E6; */
    --color-secondary-dark: #E6B3B3;
    --color-accent-dark: #B3E6B3;

    /* Muted / Neutral Tones */
    --color-dark: #2C2C3E;
    --color-light: #FAFAFA;

    /* Backgrounds & Foregrounds */
    --color-background: var(--color-primary-light);
    --color-foreground: var(--color-dark);

    /* Borders & Lines */
    --color-border: var(--color-primary-dark);

    /* Card */
    --color-card: var(--color-primary);
    --color-card-foreground: var(--color-dark);
    --color-muted-foreground: var(--color-light);

    /* Feedback Colors */
    --color-destructive: #DC2626;
    /* Slightly darker red */
    --color-success: #059669;
    /* Strong Emerald Green */
    --color-warning: #D97706;
    /* Darker Amber */
    --color-info: #2563EB;
    /* Deep Blue */
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}


.transition-smooth {
    transition: var(--transition-smooth);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.debug {
    border: 1px solid black;
}

.debug>* {
    border: 1px solid red;
}

.debug>*>* {
    border: 1px solid blue;
}

.debug>*>*>* {
    border: 1px solid green;
}